africastalking==2.0.2
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==5.2.12
django-cors-headers==4.9.0
django-environ==0.11.2
django-filter==25.2
django-leaflet==0.33.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dj-database-url==2.1.0
git-filter-repo==2.47.0
gunicorn==21.2.0
idna==3.11
numpy ==2.4.2
packaging==25.0
pillow==12.1.1
psycopg2==2.9.11
psycopg2-binary==2.9.9
PyJWT==2.12.1
python-decouple==3.8
PyYAML==6.0.3
requests==2.32.5
responses==0.26.0
schema==0.7.8
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.6.0


